html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#ultraWideImageOfTheMastery {
    height: 97vh;
}

.textbox1 {
    background-color: #fff;
    border-radius: .2rem;
    box-shadow: 5px 5px 10px #333;
    position: absolute;
    left: 30rem;
    bottom: 5vh;
}

.textbox2 {
    background-color: #fff;
    border-radius: .2rem;
    box-shadow: 5px 5px 10px #333;
    position: absolute;
    left: 90rem;
    bottom: 5vh;
}

.textbox3 {
    background-color: #fff;
    border-radius: .2rem;
    box-shadow: 5px 5px 10px #333;
    position: absolute;
    left: 140rem;
    bottom: 5vh;
}

.textbox4 {
    background-color: #fff;
    border-radius: .2rem;
    box-shadow: 5px 5px 10px #333;
    position: absolute;
    left: 195rem;
    bottom: 5vh;
}

.textbox_h {
    font-family: proxima nova;
    font-size: 1.5rem;
    margin: 2rem;
    display: block;
}

.sun {
    position: absolute;
    left: 120rem;
    top: 1rem;
    width: 8rem;
}

.sky {
    position: absolute;
    left: 40rem;
    top: 10rem;
    width: 10rem;
}

.sky1 {
    position: absolute;
    left: 54rem;
    top: 7rem;
    width: 10rem;
}

.sky2 {
    position: absolute;
    left: 46rem;
    top: 1rem;
    width: 10rem;
}

.sky3 {
    position: absolute;
    left: 20rem;
    top: 5rem;
    width: 10rem;
}

.sky4 {
    position: absolute;
    left: 185rem;
    top: 2rem;
    width: 10rem;
}

.sky5 {
    position: absolute;
    left: 160rem;
    top: 6rem;
    width: 10rem;
}

.sky6 {
    position: absolute;
    left: 180rem;
    top: 5rem;
    width: 10rem;
}

.tilbage_link {
    position: absolute;
    top: 4%;
    left: 2%;
    height: 100%;
    
}

.tilbage {
    position: -webkit-sticky;
    position: sticky;
    width: 5rem;
    left: 2vw;
}