html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #27ffff;
}

#ultraWideImageOfTheMastery {
    height: 97vh;
    z-index: 10;
}

.textbox {
    background-color: #fff;
    opacity: .5;
    border-radius: .2rem;
    box-shadow: 5px 5px 10px #333;
    position: absolute;
    bottom: 5vh;
    width: 35vw;
    font-family: athelas;
    color: #86ae6f;
    font-size: 1.5rem;
}

.textbox p {
    padding: 2rem;
    margin: 0;
}

.textbox h1 {
    margin: 0;
    padding: 2rem 1rem;
}

.textbox1 {
    left: 30rem;
}

.textbox2 {
    left: 90rem;
}

.textbox3 {
    left: 140rem;
}

.textbox4 {
    left: 175rem;
}

.textbox5 {
    left: 200rem;
}

.textbox_h {
    
    font-size: 1.5rem;
    margin: 2rem;
    display: block;
}

.sun {
    position: absolute;
    left: 100rem;
    top: 1rem;
    width: 8rem;
    z-index: 2;
}

.sky {
    position: absolute;
    width: 10rem;
}

.sky1 {
    left: 20rem;
    top: 3rem;
}

.sky2 {
    left: 54rem;
    top: 7rem;
}

.sky3 {
    left: 40rem;
    top: 1rem;
}

.sky4 {
    left: 7rem;
    top: 8rem;
}

.sky5 {
    left: 185rem;
    top: 2rem;
}

.sky6 {
    left: 160rem;
    top: 6rem;
    z-index: 3;
}

.sky7 {
    left: 195rem;
    top: 5rem;
}

.tilbage_link {
    position: absolute;
    top: 4%;
    left: 2%;
    height: 100%;
    
}

.tilbage {
    position: -webkit-sticky;
    position: sticky;
    width: 5rem;
    left: 2vw;
}