html, body {
    width: 100%;
    height: 97vh;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    font-family: proxima-nova, sans-serif;
    letter-spacing: .1rem;
    font-weight: 300;
}

.baggrund {
    height: 700px;
    width: 7655px;
    background-image: linear-gradient(to bottom left, rgba(135, 206, 235, 1) 60%, rgba(237, 233, 121, .7));
    z-index: -100;
    position: absolute;
}

.motionGraphic {
    height: 700px;
}

.logo {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    justify-content: center;
    width: 10rem;
}

.textbox {
    position: absolute;
    bottom: 3vh;
    width: 100vw;
    color: #fff;
    font-size: 1.3rem;
    text-shadow: rgba(0, 0, 0, 0.3);
}

.textbox1 {
    position: absolute;
    top: 42vh;
    width: 100vw;
    text-align: center;
    color: #fff;
    font-size: 1.7rem;
    text-shadow: rgba(0, 0, 0, 0.3);
}

.textbox2 {
    position: absolute;
    top: 8vh;
    width: 50vw;
    margin-left: 25vw;
    transform: translate(-50%, -50%);
    justify-content: center;
    background-color: #fff;
    border-radius: 3px;
    font-size: 1rem;
    box-shadow: 0 1.5rem 10rem rgba(0, 0, 0, 0.3);
    padding: 1rem 1rem 1rem 2rem;
}

.textbox3 {
    position: absolute;
    top: 4vh;
    width: 50vw;
    margin-left: 25vw;
    transform: translate(-50%, -50%);
    justify-content: center;
    background-color: #fff;
    border-radius: 3px;
    font-size: 1rem;
    box-shadow: 0 1.5rem 10rem rgba(0, 0, 0, 0.3);
    padding: 1rem 1rem 1rem 2rem;
}

.textbox4 {
    position: absolute;
    top: 4vh;
    width: 50vw;
    margin-left: 25vw;
    transform: translate(-50%, -50%);
    justify-content: center;
    background-color: #fff;
    border-radius: 3px;
    font-size: 1rem;
    box-shadow: 0 1.5rem 10rem rgba(0, 0, 0, 0.3);
    padding: 1rem 1rem 1rem 2rem;
}

.textbox5 {
    position: absolute;
    top: 4vh;
    width: 50vw;
    margin-left: 25vw;
    transform: translate(-50%, -50%);
    justify-content: center;
    background-color: #fff;
    border-radius: 3px;
    font-size: 1rem;
    box-shadow: 0 1.5rem 10rem rgba(0, 0, 0, 0.3);
    padding: 1rem 1rem 1rem 2rem;
}

.textbox p {
    padding: 2rem;
}

.textbox h1 {
    margin: 0;
    padding: 2rem 1rem;
}

.textbox_h {
    
    font-size: 1.5rem;
    margin: 2rem;
    display: block;
}

.sun {
    position: absolute;
    left: 100rem;
    top: 1rem;
    width: 8rem;
    z-index: -5;
}

.sky {
    position: absolute;
    width: 10rem;
    z-index: -1;
}

.sky1 {
    left: 30rem;
    top: 3rem;
    z-index: -1;
}

.sky2 {
    left: 80rem;
    top: 7rem;
    z-index: -1;
}

.sky3 {
    left: 60rem;
    top: 1rem;
    z-index: -1;
}

.sky4 {
    left: 10rem;
    top: 8rem;
    z-index: -4;
}

.sky5 {
    left: 185rem;
    top: 2rem;
    z-index: -4;
}

.sky6 {
    left: 160rem;
    top: 6rem;
    z-index: -4;
}

.sky7 {
    left: 195rem;
    top: 5rem;
    z-index: -4;
}

.sky8 {
    left: 230rem;
    top: 7rem;
    z-index: -4;
}

.sky9 {
    left: 245rem;
    top: 4rem;
    z-index: -4;
}

.sky10 {
    left: 255rem;
    top: 2rem;
    z-index: -4;
}

.sky11 {
    left: 310rem;
    top: 7rem;
    z-index: -4;
}

.sky12 {
    left: 320rem;
    top: 3rem;
    z-index: -4;
}

.car {
    position: absolute;
    left: 340rem;
    top: 63vh;
    width: 30rem;
}

.tilbage {
    position: absolute;
    top: 4%;
    left: 2vw;
    background-color: #fff;
    border-radius: 300rem;
    box-shadow: 0 1.5rem 10rem rgba(0, 0, 0, 0.8);
}

.tilbage_tegn {
    margin: 1rem 1.1rem;
}

.scroll {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    right: .1vw;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10rem;
    box-shadow: 0 1.5rem 10rem rgba(0, 0, 0, 0.3);
}

.scroll_tekst {
    margin: 1rem 0rem 1rem 1rem;
}

.scroll_tegn {
    margin: 1rem;
    
}

.logo1 {
    position: absolute;
    left: 545rem;
    top: 15%;
    transform: translate(-50%, -50%);
    justify-content: center;
    width: 10rem;
}

.textbox6 {
    position: absolute;
    left: 497.5rem;
    top: 28%;
    width: 100vw;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 1.5rem;
}

.baggrund2 {
    height: 700px;
    width: 1800px;
    position: absolute;
    left: 478rem;
    z-index: -101;
    top: 0;
    background-image: url(billeder/SpireBaggrund.png);
}

.textbox7 {
    position: absolute;
    left: 520rem;
    top: 40%;
    width: 20rem;
    border-radius: 3px;
    text-align: center;
}

.textbox7 p {
    
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.motion_boom {
    width: 15rem;
    margin: 2rem 2rem 0rem 2rem;
}

.textbox8 {
    position: absolute;
    left: 550rem;
    top: 40%;
    width: 20rem;
    height: 22rem;
    border-radius: 3px;
    text-align: center;
}

.textbox8 p {
    font-size: 1.2rem;
    margin: 0 0 4rem 0;
}

.textbox7:hover, .textbox8:hover {
    box-shadow: 0 1.5rem 10rem rgba(0, 0, 0, 0.2);
}

.motion_produkt {
    padding: 1.8rem 0 0 0;
    width: 15rem;
    margin: 2rem;
}

.spire {
    
}