html ,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(Billeder/1m%20spire.png);
    background-repeat: no-repeat;
    background-position: right;
    


   
        
    
}


/* Navbar */

#navbar {
    
    overflow: hidden;
      box-shadow: 0 4px 2px -2px rgba(0,0,0,.1);
    background-color: white;
    padding: 10px 10px; 
    transition: 0.4s; 
    position: fixed; 
    width: 100%;
    top: 0; 
    z-index: 9999; 
      display: inline-block;
      text-align: center;
  }
  
  
#navbar a {
  color: black;
  text-align: center;
  padding: 70px;
  text-decoration: none;
  font-size: 15px; 
  line-height: 10px;
  border-radius: 0.2px;
    font-family: proxima-nova, sans-serif;
    letter-spacing: .1rem;
    
}

#navbar a:hover {
  color: #86ae6f;
}
  
  
  #logo {
        max-height: 8%;
      margin: auto auto auto auto;
      width: 8%;
    transition: 0.4s;
      
      
  }
  
  

  
  @media screen and (max-width: 920px) {
    #navbar {
      display: none;
    }
    #navbar a {
      display: none;
     
    }
      #logo {
          display: none;
      }
  }
  
  
  
  
  
  /* Navbar Slut */
  
  
  
  @media screen and (max-width: 920px) {
  .topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
      box-shadow: 0 -1px 5px 1px rgba(0, 0, 0, 0.1);
  }
  
  
  .topnav #myLinks {
    display: none;
  }
  
  
  .topnav a {
    color: #8fad75;
      font-family: proxima nova,sans-serif;
      background: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  
  .topnav a.icon {
    background: white;
      color: #8fad75;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
      
  
  
  .topnav a:hover {
    background-color: white;
    color: black;
  }
  
  
      #lillelogo {
          padding-left: 10px;
      max-width: 10%;    
      }
  }
  
  
  @media screen and (min-width: 920px) {
  .topnav {
      display: none;
  }
  
  
  .topnav #myLinks {
    display: none;
  }
  
  
  .topnav a {
   display: none;
  }
  
  
  .topnav a.icon {
    display: none;
  }
      
  
  
  .topnav a:hover {
    display: none;
  }
  
  
  .active {
    display: none;
  }
  }
  
  /* Navbar Slut */

  /* Footer */

 
.footer {
    grid-area: footer;
    background-color: rgb(215, 196, 161);
    text-align: center;
    padding: 40px;
    font-size: 25px; 
    font-family: proxima nova, sans-serif;
    color: black;
    
}

.icons {
    font-size: 20px;
    color: black;
    
  
}

.iconer {
    color: black;
    text-decoration: none;
    font-size: 20px;
}





.footerbillede {
   grid-area: billede;
   background-image: url(Billeder/FinalLOGO.png);
   background-position: left;
   background-size: 30%;
   background-repeat: no-repeat;
}





/* Footer slut */

/* PRODUKTER */

.produktoverskrift {
    font-size: 12px;
    text-align: center;
    font-family: proxima nova, sans-serif;
    color: #8fad75;
}

.plantesæk {
justify-content: center;
text-align: center;
}

.plantesæk_billede {
    
width: 30%;

}

.bgtilprodukter {
  background-image: url(Billeder/bggtilprodukter.png);
  height: 150px;
  width: 100%;
}

.produkt_info {
    padding-left: 30%;
    padding-right: 30%;
    font-family: proxima nova, sans-serif;
    font-size: 17px;
    
}

.forhandleroverskrift {
    text-align: center;
    font-family: proxima nova, sans-serif;
    color: #8fad75;
    font-size: 17px;
}

.champostbillede {
    width: 25%; 

}

.forhandlerbillede {
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.card1 {
    position: relative;
    width: 400px;
    height: 308px;
    overflow: hidden;
}

.card2 {
    position: relative;
    width: 400px;
    height: 308px;
    overflow: hidden;
}

.card3 {
    position: relative;
    width: 400px;
    height: 308px;
    overflow: hidden;
}
input,
.toggle 
{
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    outline: none;
    z-index: 10;
    cursor: pointer;
}
input
{
    opacity: 0;
}

.toggle 
{
    pointer-events: none;
    border-radius: 50%;
    background: #fff;
    transition: 0.5s;
    text-align: center;
    line-height: 50px;
    font-size: 36px;
    box-shadow: 0 0 0 0px #86ae6f;
}
input:checked ~ .toggle

{
    box-shadow: 0 0 0 500px #86ae6f; 
    transform: rotate(225deg);
}

.imgbx1,
.content {
    font-family: proxima nova, sans-serif;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.content {

    padding: 20px;
    box-sizing: border-box;
    z-index: 11;
    pointer-events: none;
    transition: 0.5s;
    opacity: 0;
}

input:checked ~ .content {
    opacity: 1;
    transition-delay: 0.5s;

}

@media screen and (max-width: 920px) {
  .card1 {
    width: 150px;
  }
  .card2 {
    width: 150px;
  }
  .card3 {
    width: 150px;
  }
   html ,body {
        background-image: none;
    }
}

.gras {
        background-image: url(Billeder/bggtilprodukter1.png);
    height: 190px;
    width: 100%;
        text-align: center;
}


    .footer {
        background-color: rgb(215, 196, 161);
         font-size: 30px;
      display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "icons icons1 icons2"
    
 
    }
    .icons {
        
        grid-area: icons;
            
        
    }
    
        .icons1 {
        
        grid-area: icons1;
            
        
    }
    
        .icons2 {
        
        grid-area: icons2;
            
        
    }
    
    
