html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.icons {
    font-size: 50px;
    color: black;
  
}
/* Navbar */

#navbar {
    
    overflow: hidden;
      box-shadow: 0 4px 2px -2px rgba(0,0,0,.1);
    background-color: white;
    padding: 10px 10px; 
    transition: 0.4s; 
    position: fixed; 
    width: 100%;
    top: 0; 
    z-index: 9999; 
      display: inline-block;
      text-align: center;
  }
  
  
#navbar a {
  color: black;
  text-align: center;
  padding: 70px;
  text-decoration: none;
  font-size: 15px; 
  line-height: 10px;
  border-radius: 0.2px;
    font-family: proxima-nova, sans-serif;
    letter-spacing: .1rem;
    
}

#navbar a:hover {
  color: #86ae6f;
}
  
  
  #logo {
        max-height: 8%;
      margin: auto auto auto auto;
      width: 8%;
    transition: 0.4s;
      
      
  }
  
  

  
  @media screen and (max-width: 920px) {
    #navbar {
      display: none;
    }
    #navbar a {
      display: none;
     
    }
      #logo {
          display: none;
      }
  }
  
  
  


/* Navbar Slut */



  
  @media screen and (max-width: 920px) {
  .topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
      box-shadow: 0 -1px 5px 1px rgba(0, 0, 0, 0.1);
  }
  
  
  .topnav #myLinks {
    display: none;
  }
  
  
  .topnav a {
    color: #8fad75;
      font-family: proxima nova,sans-serif;
      background: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  
  .topnav a.icon {
    background: white;
      color: #8fad75;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
      
  
  
  .topnav a:hover {
    background-color: white;
    color: black;
  }
  
  
      #lillelogo {
          padding-left: 10px;
      max-width: 10%;    
      }
  }
  
  
  @media screen and (min-width: 920px) {
  .topnav {
      display: none;
  }
  
  
  .topnav #myLinks {
    display: none;
  }
  
  
  .topnav a {
   display: none;
  }
  
  
  .topnav a.icon {
    display: none;
  }
      
  
  
  .topnav a:hover {
    display: none;
  }
  
  
  .active {
    display: none;
  }
  }
  
/* Navbar Slut */


  /* Footer */

 

  .footer {
      box-shadow: 0 -1px 5px 1px rgba(0, 0, 0, 0.1);
    font-size: 30px;
    font-family: proxima nova, sans-serif;
 display: grid;
    text-align: left;
    padding-left: 50px;
   grid-template-columns: 1fr 2fr;
   grid-template-areas:
       "billede icons"


}
.icons {
   text-align: right;
   grid-area: icons;
    padding-right: 30px;
       
   
}





.footerbillede {
   grid-area: billede;
   background-image: url(Billeder/FinalLOGO.png);
   background-position: left;
   background-size: 30%;
   background-repeat: no-repeat;
}



.iconer {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: proxima nova, sans-serif;
    
}


/* Footer slut */


.sidescroll {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    width: 100vw;
    position: relative;
}



.logo {
    max-height: 8vh;
    float: left;
    margin: 12px 0 0 12px;
    display: none;
}



.forside {
    margin: 2vh 5vw 0 5vw;
    position: relative;
}

.forside_billede {
    background-image: url(Billeder/medp%C3%A5eventyr.jpg);
    background-size: cover;
    height: 83.2vh;
    width: 90vw;
}

.forside_boks {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 18px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
    text-decoration-line: none;
    font-family: athelas;
    font-size: 1.5rem;
    margin: 2rem;
    
}


.header {
    text-align: center;
    font-size: 20px;
    color: #8fad75;
    
}

.divhev {
    text-align: center;
}

#hev1 {
    max-width: 50%;
    
    
    
    
    
}

.hev {
    font-size: 16px;
    text-align: left;
}


@media screen and (max-width: 920px) {
    
    .forside {
    display: none;
        
}

.forside_billede {
    display: none;
}
    


.forside_h {
    display: none;
}

}


@media screen and (min-width: 920px) {

.billedbox {
    position: relative;
    max-width: 100%;
    margin: 2vh 5vw 0 5vw;
    padding-top: 100px;
    
}




.billedeindex {
    width: 100%;
    
}
    
    .mobilindex {
        display: none;
    }    
    

    .mobilbox {
        display: none;
    } 
    
    }

@media screen and (max-width: 920px) {

 .billedbox {
    display: none;
    
}




.billedeindex {
    display: none;
    
}
    
    .mobilindex {
        position: relative;
        max-width: 100%;
    }    
    

    .mobilbox {
        width: 100%;
    }    
    
    .bgtilprodukter {
  display: none;
}

}

.bgtilprodukter {
  background-image: url(Billeder/bggtilprodukter.png);
  height: 150px;
  width: 100%;
}


