html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
   
        
    
}


.bgtilprodukter {
    background-image: url(Billeder/bggtilprodukter.png);
    height: 150px;
    width: 100%;
  }

  ( SÅDAN SKAL HTML SE UD:   <br>
  <div class="bgtilprodukter">
      
  </div>
)


/* Grid */

.container {
    display: grid;
    background-image: url(Billeder/1m%20spire.png);
    background-position: right;
    background-repeat: no-repeat;
    grid-template-areas:
        "navbar"
        "overskrift1"
        "hvemervi"
        "overskrift2"
        "hvorfor"
        "overskrift3"
        "boomerang"
        "footer"
        ;
    
    
}

@media screen and (max-width: 920px) {
.container {
    
    background-image: none;

    
    
}
}

.overskrift1 {
    grid-area: overskrift1;
}

.hvemervi {
    grid-area: hvemervi;
    padding: 20px;
    text-align: center;
}

.overskrift2 {
    grid-area: overskrift2;
}

.hvorfor {
    grid-area: hvorfor;
    padding: 20px;
    text-align: center;
}

.overskrift3 {
    grid-area: overskrift3;
}

.boomerang {
    grid-area: boomerang;
    text-align: center;
}

.footer {
    grid-area: footer;
    box-shadow: 0 -1px 5px 1px rgba(0, 0, 0, 0.1);
    background: white;
    text-align: center;
    padding: 60px;
    font-size: 25px; 
    font-family: proxima nova, sans-serif;
    color: black;
    
}

.icons {
    font-size: 20px;
    color: black;
    
  
}

.iconer {
    color: black;
    text-decoration: none;
    font-size: 20px;
}


/* Grid - Slut */

/* Navbar */

#navbar {
    grid-area: navbar;
  overflow: hidden;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.1);
  background-color: white;
  padding: 10px 10px; 
  transition: 0.4s; 
  position: fixed; 
  width: 100%;
  top: 0; 
  z-index: 9999; 
    display: inline-block;
    text-align: center;
}


#navbar a {
  color: black;
  text-align: center;
  padding: 70px;
  text-decoration: none;
  font-size: 15px; 
  line-height: 10px;
  border-radius: 0.2px;
    font-family: proxima nova, sans-serif;
    
}




#logo {
      max-height: 8%;
    margin: auto auto auto auto;
    width: 8%;
  transition: 0.4s;
    
    
}


#navbar a:hover {
  background-color: #ddd;
  color: black;
}

@media screen and (max-width: 920px) {
  #navbar {
    display: none;
  }
  #navbar a {
    display: none;
   
  }
    #logo {
        display: none;
    }
}





/* Navbar Slut */


/* Style the navigation menu */
@media screen and (max-width: 920px) {
.topnav {
    grid-area: navbar;
  overflow: hidden;
  background-color: white;
  position: relative;
    box-shadow: 0 -1px 5px 1px rgba(0, 0, 0, 0.1);
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: #8fad75;
    font-family: proxima nova,sans-serif;
    background: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: white;
    color: #8fad75;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
    

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Style the active link (or home/logo) */
    #lillelogo {
        padding-left: 10px;
    max-width: 10%;    
    }
}


@media screen and (min-width: 920px) {
.topnav {
    display: none;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
 display: none;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: none;
}
    

/* Add a grey background color on mouse-over */
.topnav a:hover {
  display: none;
}

/* Style the active link (or home/logo) */
.active {
  display: none;
}
}

/* Diverse Koder */

.forside {
    margin: 2vh 5vw 0 5vw;
    position: relative;
}

.forside_billede {
    background-image: url(Billeder/BæredygtigMark.jpg);
    background-size: cover;
    height: 78vh;
    width: 90vw;
}

.forside_boks {
    position: absolute;
    left: 43%;
    top: 55%;
    background-color: #fff;
    border-radius: .2rem;
    box-shadow: 5px 5px 10px #333;
}

.forside_h {
    font-family: athelas;
    font-size: 1.5rem;
    margin: 2rem;
}


.header {
    text-align: center;
    font-size: 20px;
    color: #8fad75;
    font-family: proxima nova, sans-serif;
    font-weight: 700;
    
}

.divhev {
    text-align: center;
}

#hev1 {
    max-width: 60%;
}



.hev2 {
    text-align: center;
}

.hev {
    font-size: 16px;
    text-align: left;
    font-family: proxima nova,sans-serif;
}




/*Tablet and above*/
@media only screen and (min-width: 650px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
         "navbar"
        "overskrift1"
        "hvemervi"
        "overskrift2"
        "hvorfor"
        "overskrift3"
        "boomerang"
        "footer";

}
   

/*Laptop and above*/
@media only screen and (min-width: 1024px) {
    
     
    
    
     .container {
        grid-template-columns: 1fr;
        grid-template-areas:
             "navbar"
        "overskrift1"
        "hvemervi"
        "overskrift2"
        "hvorfor"
        "overskrift3"
        "boomerang"
        "footer";
            
    }
    
    
    
    /* Overskrift1 */
    
     .overskrift1 {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-areas:
            "overskrift" 
            
        
    }
    

      .box__d {
        grid-area:
            overskrift;
            
    }
    

    
    /* Overskrift1 - Slut*/
    
    /* Hvem er vi? */
    
    .hvemervi {
        display: grid;
        text-align: center;
        padding-right: 130px;
        grid-template-columns:1fr 1.3fr;
        grid-template-areas:
            
            "billede infotekst" 
            
        
    }
    
    
    
    .box__b {
        grid-area:
            billede;
            
    }
    
    .box__c {
        grid-area: infotekst;
    }
    
/* Hvem er vi? - Slut */

    /* Overskrift 2 */
    
         .overskrift2 {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-areas:
            "overskrift" 
            
        
    }
    


    /* Overskrift 2- Slut */
    
    /* Hvad er Rephos? */
    
    
        .hvorfor {
        display: grid;
        text-align: center;
        padding-left: 136px;
        grid-template-columns:1.3fr 1fr;
        grid-template-areas:
            
            "infotekst billede" 
            
        
    }
    


    
    
    .box__f {
        grid-area:
            billede;
            
    }
    
    .box__g {
        grid-area: infotekst;
    }
    
        /* Overskrift 3 */
    
         .overskrift3 {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-areas:
            "overskrift" 
            
        
    }
    


    /* Overskrift 3 - Slut */
    
            /* Boomerang */
    
         .boomerang {
        display: grid;
        text-align: center;
        grid-template-columns:. 1fr .;
        grid-template-areas:
            "billede" 
            
        
    }
    
            .box__o {
        grid-area: billede;
        text-align: center;    
            
    }


    /* Boomerang - Slut */
    
        
    /* Footer */

    
    .footer {
         font-size: 30px;
      display: grid;
         text-align: left;
         padding-left: 50px;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "billede icons"
    
 
    }
    .icons {
        text-align: right;
        grid-area: icons;
            
        
    }
    
    
    
    .footerbillede {
        grid-area: billede;
        background-image: url(Billeder/FinalLOGO.png);
        background-position: left;
        background-size: 30%;
        background-repeat: no-repeat;
    }
    
    }
    }