html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}

/* Navbar */

#navbar {
  overflow: hidden;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
  background-color: white;
  padding: 10px 10px; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99; 
    display: inline-block;
    text-align: center;
}


#navbar a {
  color: black;
  text-align: center;
  padding: 60px;
  text-decoration: none;
  font-size: 15px; 
  line-height: 30px;
  border-radius: 2px;
    
}




#logo {
      max-height: 8%;
    margin: auto auto auto auto;
    width: 8%;
  transition: 0.4s;
    
    
}


#navbar a:hover {
  background-color: #ddd;
  color: black;
}






@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}

/* Navbar Slut */

.forside {
    margin: 2vh 5vw 0 5vw;
    position: relative;
}

.forside_billede {
    background-image: url(Billeder/BæredygtigMark.jpg);
    background-size: cover;
    height: 78vh;
    width: 90vw;
}

.forside_boks {
    position: absolute;
    left: 43%;
    top: 55%;
    background-color: #fff;
    border-radius: .2rem;
    box-shadow: 5px 5px 10px #333;
}

.forside_h {
    font-family: athelas;
    font-size: 1.5rem;
    margin: 2rem;
}

